.best-clients__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 50px;
  }
  margin-top: 30px;
  gap: 30px;
}
.best-clients-item {
  flex-basis: calc ((100% - 30px) / 2);
}
.best-clients__link {
  @media screen and (max-width: 767px) {
    max-width: 210px;
    height: 92px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid currentColor;
  color: #afb1b8;
  border-radius: 4px;

  transition: color var(--animate);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.best-clients__icon {
  fill: currentColor;
}
