.best-clients__list {
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 2);
    width: 210px;
    height: 92px;
  }
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.best-clients__link {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
  }

  border: 1px solid currentColor;
  color: #afb1b8;
  border-radius: 4px;

  transition: color var(--animate);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.best-clients-item {
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
  }
}

.best-clients__icon {
  fill: currentColor;
}
