.header {
  border-bottom-color: rgb(236, 236, 236);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
}

.contacts {
  display: none;

  list-style: none;

  // display: flex;
  // gap: 50px;
  // margin-left: auto;
}
.contacts__items {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;

  transition: color var(--animate);
}
.contacts__items:hover,
.contacts__items:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
}
.contacts__items {
  display: flex;
  align-items: center;
  gap: 10px;
}
