.our-team {
  @extend %section;
  background-color: var(--additional-bg-color);
}
.our-team__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 50px;
  }
  gap: 30px;
}

.member {
  @media screen and (max-width: 767px) {
    flex-basis: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member__info {
  @media screen and (max-width: 767px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.member__name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}
.member__position {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);

  margin-bottom: 16px;
}
