.filters {
  @media screen and (max-width: 767px) {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  display: flex;
  justify-content: center;
  gap: 8px;
  row-gap: 15px;
}
.filter__button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--additional-bg-color);
  color: var(--primary-title-color);
  border: none;
  border-radius: 4px;
  padding: 6px 25px;

  transition: background-color var(--animate), color var(--animate), box-shadow var(--animate),
    border-radius var(--animate);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
