button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.primary-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
