.benefits__box {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    max-width: 450px;
    height: 120px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
    height: 120px;
  }

  background: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}

.benefits {
  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}
.benefits__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
  }
}
.benefits__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
  font-size: 14px;
  margin-bottom: 10px;
}
.benefits__paragraph {
  line-height: 1.71;
  color: var(--paragraph-color);
}
