@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
.what-we-do {
  @extend %section;
  padding-top: 0;
}

.what-we-do__photo {
  display: flex;
  gap: 30px;

  margin-top: 50px;
}

.what-we-do__list {
  position: relative;
}

.what-we-do__overlay {
  position: absolute;

  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;

  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
}
